
<div class="container-titulo">
  <a routerLink="/dashboard"><img src="assets/Img/Logo Colcan.jpeg" alt="Logo Colcal" class="LogoDash"></a>
  <h1 class="titulo-dash">Imágenes diagnosticas</h1>

</div>

<div class="container-navBar">
  <button class="btnDash1">Atención</button>
  <button class="btnDash">Exámenes</button>
  <button class="btnDash" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">Configuración</button>

    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
      <li><a class="dropdown-item" href="/usuarios" >Usuarios</a></li>
      <li><a class="dropdown-item" href="/roles">Roles</a></li>
    </ul>
</div>

<div class="hero">
  <div class="container_buscador-usuario">
    <h3 class="titulo_buscador">Usuarios</h3>
      <div class="container-input">
        <img class="icon-peq"src="assets/Img/Icon-password.png" alt="">
        <input type="search" name="" id="" class="inputSearch" placeholder="Buscar">
        <button class="button-crear">Crear</button>
      </div>
  </div>
</div>

