:root {
  --morado:#764d95;
  --fontButton:font-family: 'Teko', sans-serif;
}

html{
  box-sizing: border-box;
}

*, *:before, *:after{
  box-sizing: inherit;
}

.container_buscador-usuario{
  height: auto;
  width: 90%;
  margin-left: 3rem;
  background-color: white;
  border-radius: 10px;
  padding-top: .5rem;
  padding-bottom: 2rem;
}

.titulo_buscador{
  margin-left: 1rem;
  color: var(--morado);
  font-weight: 600;
  margin-bottom: 1rem;
}

.icon-peq{
  background-color: var(--morado);
  width: 2rem;
  height: 2rem;
  border-radius: 80px;
  margin-right: 1rem;
  margin-top: 0rem;
  margin-left: 1rem;
  margin-bottom: 0rem;
}

.container-input{
  display: flex;
  justify-content: center;
  align-items: center;
}

.inputSearch{
  background-color: whitesmoke;
  border-radius: 10px;
  border: none;
  height: 2.2rem;
  width: 78%;
}
